* { box-sizing: border-box; }
body {
  font-family: 'Open Sans Condensed', sans-serif;
}
li {
 list-style-type: none;
}
img {
  max-width: 100%;
  position: relative;
  left: 4rem;
}
i {
  clear: both;
  float: right, left, right, left, right;
  color: darkgray;
}
.title {
  max-width: 100%;
  font-size: 1.25em;
  font: bolder;
  text-align: left;
}
.saleprice {
  color: #A60000;
}
.price {
  color: black;
}
.main {
  float: right;
  max-width: 15%;
  max-height: 100%;
  margin: 2 2 2 2;
  }
aside {
  max-width: 50%;
  padding: .5;
  border: 2px solid black;
  text-align: center;
  margin: 0;
}
aside:hover {
  color: darkgray;
  background-color: #ESE1DS;
}