* { box-sizing: border-box; }
body {
  font-family: 'Merriweather', serif;
}
li {
 list-style-type: none;
}
img {
  ;
}
header nav li {
  
}
h1 {
  
 
}
article {
 
}
h2 {
  
}
h3 {
 
}
 footer p {
  
}
footer {
 
}
.intro {
  ;
}
.main {
 ;
}
.side {
  
}
i:hover {
  
}